:root {
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

* {
  /* text-transform: uppercase; */
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", "Roboto", sans-serif;
  font-size: 16px;
}

body {
  background-color: #3fedd1;
}

nav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

main {
  background-color: white;
}

.container {
  text-align: center;
}

.nav-link {
  font-family: 'Lexend Deca', 'Montserrat', sans-serif;
  color: black;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
  transition: transform 0.3s;
  font-weight: 500;
}

.nav-link:hover {
  color: whitesmoke;
  text-decoration: underline;
  background-color: black;
  transform: scale(1.15);
}

.msg {
  background-color: white;
  padding-top: 1px;
}

.hero {
  /* Sizing */
  width: 100vw;
  height: 100vh;

  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Text styles */
  text-align: center;
  color: whitesmoke;

  /* Background styles */
  background-image: linear-gradient(rgba(10, 9, 9, 0.747),
      rgba(10, 9, 9, 0.747)),
    url(/img/hero-fashion.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1 {
  /* Text styles */
  font-size: 4em;

  /* Margins */
  margin-top: 0;
  margin-bottom: 0.5em;
}

.hero .btn {
  /* Positioning and sizing */
  display: block;
  width: 350px;
  border-radius: 1px;

  /* Padding and margins */
  padding: 1em;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

  /* Text styles */
  color: whitesmoke;
  text-decoration: none;
  font-size: 1em;

  /* Border styles */
  border: 1px solid whitesmoke;

  overflow: hidden;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s;
}

.hero .btn:hover {
  color: black;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  border: 1px solid black;
  background-color: whitesmoke;
  transform: scale(1.02);
}

.hero-section {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.wrapper {
  padding-bottom: 30px;
  background-color: white;
}

.divider {
  position: relative;
  margin-top: 30px;
  height: 3px;
  background-color: white;
}

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 3px;
  background-image: linear-gradient(to right,
      transparent,
      rgb(14, 15, 15),
      transparent);
}

#mensagem {
  margin-top: 5em;
  text-align: center;
}

#venture {
  background-color: #111414;
}

.ventures {
  display: inline-block;
  width: 300px;
  height: 300px;
  background: #fff;
  box-shadow: #000;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 10px;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s;
  border-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  cursor: pointer;
}

.ventures:hover {
  transform: scale(1.19);
}

.ventures-logos {
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-top: 10%;
  max-width: 80%;
  max-height: 80%;
  object-fit: cover;
}

.brands {
  margin-left: 3%;
  margin-right: 3%;
}

.top {
  padding-top: 5%;
}

.texto-brand {
  font-size: 15px;
  text-align: center;
  font-weight: 500;
  color: white;
}

.img-benefits {
  width: 35%;
}

.why01 img {
  width: 35% !important;
}

.text-benefits {
  font-size: 13px;
  font-weight: 400;
  color: #000;
  padding-bottom: 10vh;
}

#mktplace-benefits {
  margin-top: 10vh;
  font-weight: bold;
  color: black;
}

#why-participate {
  /*
   #3fedd1 
   #e73c52
   #fd840e
  */
  text-align: center;
  background-color: #3fedd1;
  /* border-top: 1px solid black;
  border-bottom: 1px solid black; */
  padding-bottom: 0px;
}

.participate {
  padding-top: 5vh;
  font-weight: bold;
  color: black;
}

.why01 img {
  width: 40%;
}

.text-participate {
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  color: black;
}

.btn-cadastro {
  /* Positioning and sizing */
  display: block;
  width: 350px;
  border-radius: 1px;
  /* Padding and margins */
  padding: 1em;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

  /* Text styles */
  background-color: black;
  color: whitesmoke;
  text-decoration: none;
  font-size: 1em;

  /* Border styles */
  border: 1px solid black;

  overflow: hidden;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s;
}

.btn-cadastro:hover {

  color: black;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  border: 1px solid black;
  background-color: whitesmoke;
  transform: scale(1.01);
}

.signup {
  background-color: #3fedd1;
  padding-top: 0px;
  margin-bottom: 100px;
  padding-bottom: 30px;
}